<div class="container">
  <h1>Angular directives</h1>

  <p appStyle="red" [dStyles]="{border: '1px solid blue', borderRadius: '5px'}">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, maiores?
  </p>
  <p appStyle="blue" [dStyles]="{border: '1px solid yellow', borderRadius: '8px'}">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, maiores?
  </p>

  <button class="btn" (click)="isVisible = !isVisible">Toggle</button>

  <div class="wrap" *appIfnot="!isVisible">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, consequuntur nesciunt?</p>
  </div>
</div>
