<div class="container">
  <h1>Angular services</h1>
  <div class="card">
    {{appCounterService.counter}}
    <button class="btn" (click)="appCounterService.increase()"></button>
    <button class="btn" (click)="appCounterService.decrease()"></button>
  </div>

  <div class="card">
    {{localCounterService.counter}}
    <button class="btn" (click)="localCounterService.increase()"></button>
    <button class="btn" (click)="localCounterService.decrease()"></button>
  </div>

  <hr>

  <app-counter></app-counter>
</div>
